<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  
  <body>
    <header>
      <div class="Container">
        <h2>Usuarios Cadastrados</h2>
      </div>
    </header>
    <div class="nav">

      <input  for="search" id="search" type="text" placeholder="Pesquisar">
      <input  for="search" id="delete" type="text" placeholder="Excluir Itens Selecionados">
      <input  for="search" id="create" type="text" placeholder="Cadastrar">
    </div>
     <div class="cointainer-tabela">

      <div class="tabela">
        <table> <%for   %> 
          <tr>
            <th> <input type="checkbox" name=""></th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>CPF</th>
            <th class="email">E-mail</th>
            <th>Telefone</th>
            <th>Editar/Deletar</th>

          </tr>
          <tr>
            <td><input type="checkbox" name=""></th></td>
            <td>teste</td> <!-- Nome. -->
            <td>teste</td> <!-- Sobrenome. -->
            <td>teste</td> <!-- CPF. --> 
            <td>teste</td> <!-- E-mail. -->
            <td>teste</td> <!-- Telefone. -->
            <td>teste</td> <!-- Deletar. -->
            
          </tr>
          <tr>
            <td><input type="checkbox" name=""></th></td>
            <td>  </td> <!-- Nome. -->
            <td></td> <!-- Sobrenome. -->
            <td></td> <!-- CPF. --> 
            <td></td> <!-- E-mail. -->
            <td></td> <!-- Telefone. -->
            <td></td> <!-- Deletar. -->
            
          </tr>
          <tr>
            <td><input type="checkbox" name=""></th></td>
            <td></td> <!-- Nome. -->
            <td></td> <!-- Sobrenome. -->
            <td></td> <!-- CPF. --> 
            <td></td> <!-- E-mail. -->
            <td></td> <!-- Telefone. -->
            <td></td> <!-- Deletar. -->
            
          </tr>
          <tr>
            <td><input type="checkbox" name=""></th></td>
            <td></td> <!-- Nome. -->
            <td></td> <!-- Sobrenome. -->
            <td></td> <!-- CPF. --> 
            <td></td> <!-- E-mail. -->
            <td></td> <!-- Telefone. -->
            <td></td> <!-- Deletar. -->
            
          </tr>
          <tr>
            <td><input type="checkbox" name=""></th></td>
            <td></td> <!-- Nome. -->
            <td></td> <!-- Sobrenome. -->
            <td></td> <!-- CPF. --> 
            <td></td> <!-- E-mail. -->
            <td></td> <!-- Telefone. -->
            <td></td> <!-- Deletar. -->
            
          </tr>
          <tr>
            <td><input type="checkbox" name=""></th></td>
            <td></td> <!-- Nome. -->
            <td></td> <!-- Sobrenome. -->
            <td></td> <!-- CPF. --> 
            <td></td> <!-- E-mail. -->
            <td></td> <!-- Telefone. -->
            <td></td> <!-- Deletar. -->
            
          </tr>
          <tr>
            <td><input type="checkbox" name=""></th></td>
            <td></td> <!-- Nome. -->
            <td></td> <!-- Sobrenome. -->
            <td></td> <!-- CPF. --> 
            <td></td> <!-- E-mail. -->
            <td></td> <!-- Telefone. -->
            <td></td> <!-- Deletar. -->
            
          </tr>
          <tr>
            <td><input type="checkbox" name=""></th></td>
            <td></td> <!-- Nome. -->
            <td></td> <!-- Sobrenome. -->
            <td></td> <!-- CPF. --> 
            <td></td> <!-- E-mail. -->
            <td></td> <!-- Telefone. -->
            <td></td> <!-- Deletar. -->
            
          </tr>
          <tr>
            <td><input type="checkbox" name=""></th></td>
            <td></td> <!-- Nome. -->
            <td></td> <!-- Sobrenome. -->
            <td></td> <!-- CPF. --> 
            <td></td> <!-- E-mail. -->
            <td></td> <!-- Telefone. -->
            <td></td> <!-- Deletar. -->
            
          </tr>
        </table>
      </div>

    </div>
    
  </body>
</html>